fastapi
uvicorn
sqlalchemy
pydantic
alembic
cryptography
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-jaeger
dapr
pyodbc
graphene 
graphene-sqlalchemy
starlette
strawberry-graphql[fastapi]
requests
python-dotenv
passlib 
bcrypt
jwt
